@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: $text-primary;
  background: var(--background-rgb);
  font-family: "Courier New", Courier, monospace;
}

.container {
  @include container;
}

.section {
  padding: $spacing-lg 0;

  @include md {
    padding: $spacing-xl 0;
  }

  @include lg {
    padding: $spacing-2xl 0;
  }
}

.swiper-button-prev {
  background-image: url("/icons/arrow_prev.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  svg {
    display: none;
  }
}

.swiper-button-next {
  background-image: url("/icons/arrow_next.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  svg {
    display: none;
  }
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.img-animate {
  animation: fadeInOut 3500ms ease-in-out forwards;
}

.bg-noise {
  background: url("/images/bg.png");
  background-size: cover;
}
